#cursor,
#cursor_sub {
    position: fixed;

    background: #fff0;
    border-radius: 30px;
    border: 2px solid #4fe3ce;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    /*真ん中にくるようにマイナスマージンで調整*/
    z-index: 9999;
    /*一番手前に来るように*/
    pointer-events: none;
    /*クリックできなくなるのを防ぐため。noneで対応*/
    opacity: 0;
}


header {
    display: inline-block;
    z-index: 5000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #32323277;
    padding: 5px var(--content-side-margin);
    box-sizing: border-box;
    box-shadow: 0 0 15px 2px #00000048;
    border-bottom: solid 1px #4e4e4e62;
    vertical-align: middle;
    height: 60px;
    transition: height 0.2s ease-in-out;
}

header>div {
    position: relative;
    height: 100%;
    width: var(--content-width);
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

#header-buttons {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: left;
}

#header-buttons>* {
    font-size: 18px;
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    cursor: none;
    transition: color 0.2s;
}

#header-buttons>*:hover {
    color: #4fe3ce;
}

footer {
  display: flex;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  text-align: left;
  padding: 10px 20vw;
}

.year-s {
  display: flex;
}

footer * {
  color: #000000;
  position: relative;
  z-index: 10;
  font-weight: 500;
}

.footerColumn {
  width: 100%;
}

.footerColumn .footer-bigger {
  font-size: 17px;
  margin-bottom: 5px;
}